#tracer ul{
  /*  */
  width: 150px;
  margin: 0px;
  padding-top: 10px;
}
#tracer{
  display:grid;
  grid-template-columns: 200px 1fr;
}
#grid{
  padding: 5px;
  padding-top: 0px;
  padding-left: 15px;
  border-left: 1px gray solid;
}
.saw{
  color:red;
}
.button{
  font-size: 30px;
  text-align: center;
}
.button2{
  display: inline;
  padding-right: 200px;
}
.zero{
  text-align: center;
}
.main{
  margin-bottom: 15px;
}
.trailer{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 45px;
  border-bottom: 1px gray solid;
  margin: 0px;
  padding: 20px;
}
a{
  text-decoration: none;
  color: black;
}
@media(max-width:800px){
  #tracer{
    display: block;
  }
  #tracer ul{
    border-right: none;
    font-size: 21px;
  }
  #mccree ul{
    font-size: 21px;
  }
  #grid{
    border-left: none;
  }
  .main{
  border-bottom: none;
  }
}
